snippet fn "function" bA
function $1($2)
	$3
end
endsnippet

snippet if "if" bA
if ($1)
	$2
end
endsnippet

snippet while "while" bA
while ($1)
	$2
end
endsnippet

snippet for "for" bA
for $1 in $2
	$3
end
endsnippet
